others/connect four net (c_sharp, wcf, wpf, mvvm)/ConnectFourNet (server in IIS)/ConnectFourNet/Client/Service References/WcfServer/WCFServer4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ConnectNNet.GameCore.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ConnectNNet.GameCore.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="GameBoard">
    <xs:sequence>
      <xs:element minOccurs="0" name="Columns" type="xs:int" />
      <xs:element minOccurs="0" name="EmptyCells" type="xs:int" />
      <xs:element minOccurs="0" name="Rows" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GameBoard" nillable="true" type="tns:GameBoard" />
  <xs:simpleType name="GameBoard.GameSide">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Zero" />
      <xs:enumeration value="Cross" />
      <xs:enumeration value="Empty" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="GameBoard.GameSide" nillable="true" type="tns:GameBoard.GameSide" />
</xs:schema>