3rd course/dotnet (threads, WCF, netremoting)/Remaking task for another variant [Practice 2] (var.14, web-service)/MainApplication/Web References/MyService4/Service4.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service4" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:46444/Service4.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:46444/Service4.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="InterfaceService4_CheckingForDivisibilityByTen_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckingForDivisibilityByTen" />
  </wsdl:message>
  <wsdl:message name="InterfaceService4_CheckingForDivisibilityByTen_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckingForDivisibilityByTenResponse" />
  </wsdl:message>
  <wsdl:message name="InterfaceService4_AppointmentPlugin_InputMessage">
    <wsdl:part name="parameters" element="tns:AppointmentPlugin" />
  </wsdl:message>
  <wsdl:message name="InterfaceService4_AppointmentPlugin_OutputMessage">
    <wsdl:part name="parameters" element="tns:AppointmentPluginResponse" />
  </wsdl:message>
  <wsdl:portType name="InterfaceService4">
    <wsdl:operation name="CheckingForDivisibilityByTen">
      <wsdl:input wsam:Action="http://tempuri.org/InterfaceService4/CheckingForDivisibilityByTen" message="tns:InterfaceService4_CheckingForDivisibilityByTen_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/InterfaceService4/CheckingForDivisibilityByTenResponse" message="tns:InterfaceService4_CheckingForDivisibilityByTen_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AppointmentPlugin">
      <wsdl:input wsam:Action="http://tempuri.org/InterfaceService4/AppointmentPlugin" message="tns:InterfaceService4_AppointmentPlugin_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/InterfaceService4/AppointmentPluginResponse" message="tns:InterfaceService4_AppointmentPlugin_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_InterfaceService4" type="tns:InterfaceService4">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CheckingForDivisibilityByTen">
      <soap:operation soapAction="http://tempuri.org/InterfaceService4/CheckingForDivisibilityByTen" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AppointmentPlugin">
      <soap:operation soapAction="http://tempuri.org/InterfaceService4/AppointmentPlugin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service4">
    <wsdl:port name="BasicHttpBinding_InterfaceService4" binding="tns:BasicHttpBinding_InterfaceService4">
      <soap:address location="http://localhost:46444/Service4.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>