3rd course/dotnet (threads, WCF, netremoting)/Remaking task for another variant [Practice 2] (var.6, web-service)/ClientApplication/Web References/MyService1/Service10.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ReverseString">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="s" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReverseStringResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReverseStringResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AppointmentPlugin">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AppointmentPluginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AppointmentPluginResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>