others/connect four net (c_sharp, wcf, wpf, mvvm)/ConnectFourNet (server in exe-app) [with report]/ConnectFourNet/Client/Service References/WcfServer/WCFServer3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ConnectNNet.GameCore" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ConnectNNet.GameCore" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:18235/WCFServer.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/ConnectNNet.GameCore.Models" />
  <xs:import schemaLocation="http://localhost:18235/WCFServer.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/ConnectNNet.GameCore.Models.Players" />
  <xs:import schemaLocation="http://localhost:18235/WCFServer.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/System.Drawing" />
  <xs:complexType name="GameLogic">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ConnectNNet.GameCore.Models" minOccurs="0" name="Board" nillable="true" type="q1:GameBoard" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ConnectNNet.GameCore.Models.Players" minOccurs="0" name="Enemy" nillable="true" type="q2:Player" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ConnectNNet.GameCore.Models" minOccurs="0" name="EnemySide" type="q3:GameBoard.GameSide" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/System.Drawing" minOccurs="0" name="EnemyTurn" nillable="true" type="q4:Point" />
      <xs:element minOccurs="0" name="InProcess" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsEnemyTurn" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsPlayerTurn" type="xs:boolean" />
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ConnectNNet.GameCore.Models.Players" minOccurs="0" name="Player" nillable="true" type="q5:Player" />
      <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ConnectNNet.GameCore.Models" minOccurs="0" name="PlayerSide" type="q6:GameBoard.GameSide" />
      <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/System.Drawing" minOccurs="0" name="PlayerTurn" nillable="true" type="q7:Point" />
      <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/System.Drawing" minOccurs="0" name="VinCells" nillable="true" type="q8:ArrayOfPoint" />
      <xs:element minOccurs="0" name="VinCount" type="xs:int" />
      <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/ConnectNNet.GameCore.Models" minOccurs="0" name="VinSide" type="q9:GameBoard.GameSide" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GameLogic" nillable="true" type="tns:GameLogic" />
</xs:schema>